.dnd {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #ddd;
    border: thin solid black;
}

.dnd + .dnd {
    left: 100px;
    top: 100px;
}

.dnd + .dnd + .dnd {
    left: 200px;
    top: 200px;
}
